<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Document</title>
    <style></style>
  </head>

  <body class="bg-light">
    <div class="container" ng-app="myapp" ng-controller="myctr">
      <div class="row">
        <div
          class="col-md-8 col-sm-12 col-8 bg-white mt-5 border shadow rounded"
        >
          <form class="d-flex justify-content-center mb-5 mt-5">
            <div class="form-row align-items-center">
              <div class="col-md-4">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">what is</div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    ng-model="value_1"
                    ng-change="percent1()"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">%</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">of</div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    ng-model="value_2"
                    ng-change="percent1()"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">?</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control mb-2"
                  value="    {{result1 || ' no value'}}"
                  readonly
                />
              </div>
            </div>
          </form>
        </div>
        <div
          class="col-md-8 col-sm-12 col-8 bg-white mt-3 border shadow rounded">
          <form class="d-flex justify-content-center mb-5 mt-5">
            <div class="form-row align-items-center">
              <div class="col-md-4">
                <div class="input-group mb-2">
                  <input
                    type="text"
                    class="form-control"
                    ng-model="value_3"
                    ng-change="percent2()"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">is what percent of</div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-group mb-2">
                  <input
                    type="text"
                    class="form-control"
                    ng-model="value_4"
                    ng-change="percent2()"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">?</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control mb-2"
                  value="    {{result2 || ' no value'}}"
                  readonly
                />
              </div>
            </div>
          </form>
        </div>
        <div
          class="col-md-8 col-sm-12 col-8 bg-white mb-3 mt-3 border shadow rounded">
          <p class="col-md-12 d-flex justify-content-center mt-3">
            What is the percentage increase/decrease
          </p>
          <div class="d-flex justify-content-center mb-5 mt-5">
            <div class="form-row align-items-center">
              <div class="col-md-4">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">from</div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    ng-model="value_5"
                    ng-change="percent3()"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">to</div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    ng-model="value_6"
                    ng-change="percent3()"
                  />
                </div>
              </div>
              <div class="col-">
                <input
                  type="text"
                  class="form-control mb-2"
                  value=" {{  result3 || ' no value'}}"
                  readonly
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<script>
  var app = angular.module("myapp", []);
  app.controller("myctr", function ($scope) {
    $scope.value_1 = 0;
    $scope.value_2 = 0;
    $scope.value_3 = 0;
    $scope.value_4 = 0;
    $scope.value_5 = 0;
    $scope.value_6 = 0;

    // function
    $scope.percent1 = function () {
      $scope.result1 = 0;
      $scope.result1 =
        (parseFloat($scope.value_1) * parseFloat($scope.value_2)) / 100;
    };
    //function
    $scope.percent2 = function () {
      $scope.result2 = 0;

      $scope.result2 =
        (parseFloat($scope.value_3) / parseFloat($scope.value_4)) * 100;
    };

    //function
    $scope.percent3 = function () {
      $scope.result3 = 0;
      $scope.increase = 0;
      $scope.increase = parseFloat($scope.value_6) - parseFloat($scope.value_5);
      $scope.result3 =
        (parseFloat($scope.increase) / parseFloat($scope.value_5)) * 100;
    };
  });
</script>
